<launch>
  <!-- This is the launch file for running the robosub code on the uuv_simulator -->
  <!-- Since the simulator has its own controller we only need to post the angular velocity messages-->
  <!-- to the simulator. We dont need to use mavros for the uuv simulator.  -->

  <!-- If you want to generate a ROS bag with the recorded simulated data, set this flag to true -->
  <arg name="record" default="false"/>

  <!-- Start the a underwater world simulation scenario -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="worlds/robosub_2018.world"/>
      <arg name="paused" value="false"/>
  </include>

  <!-- Add the RexROV vehicle to the simulation (namespace: rexrov) -->
  <include file="$(find uuv_descriptions)/models/rexrov/launch/upload_rexrov.launch">
      <arg name="x" default="0"/>
      <arg name="y" default="-25"/>
      <arg name="z" default="-38"/>
      <arg name="yaw" default="3.5066"/>
  </include>

  <include file="$(find uuv_control_cascaded_pid)/launch/velocity_control.launch">
      <arg name="uuv_name" value="rexrov"/>
      <arg name="model_name" value="rexrov"/>
  </include>

</launch>
